ASSIGNMENT 02
TITLE: Python Basics 01
NAME: MD. HOMAYUN KABIR
INSTRUCTOR: MR. RASHEDUL ALAM SHAKIL
DATE: 01-08-2023

# Python Condition

1. Take values of the length & breadth of a rectangle from user input and check if it is square or not python

In [17]:
def check_square(length, breadth):
    return length == breadth

def Output():
        length = float(input("Enter the length value of the rectangle: "))
        breadth = float(input("Enter the breadth value of the rectangle: "))
         
        if length <=0 or breadth <=0 :
            print('Length and Breadth must be is grater then 0')
        else:                  

            if check_square(length, breadth):
                print("this is a square!")
            else:
                print("this is not a square.")
Output()

Enter the length value of the rectangle: 10
Enter the breadth value of the rectangle: 20
this is not a square.

2. Take three integer values from the user and print the greatest among them.

In [18]:
# take three numbers from user
firstNo = float(input("Enter first number: "))
secondNo = float(input("Enter second number: "))
thiredNo = float(input("Enter third number: "))
 
if (firstNo > secondNo) and (firstNo > thiredNo):
   largest = firstNo
elif (secondNo > firstNo) and (secondNo > thiredNo):
   largest = secondNo
else:
   largest = thiredNo
 
print("The largest number is",largest)

Enter first number: 20
Enter second number: 80
Enter third number: 60
The largest number is 80.0

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [22]:
def is_allowed_to_sit_exam(attendance_percentage):
    if attendance_percentage >= 75:
        return True
    else:
        return False

if __name__ == "__main__":
    try:
        attendance_percentage = float(input("Enter the attendance percentage: "))
        if attendance_percentage < 0 or attendance_percentage > 100:
            print("Invalid percentage! Please enter a value between 0 and 100.")
        else:
            if is_allowed_to_sit_exam(attendance_percentage):
                print("The student is allowed to sit in the exam.")
            else:
                print("The student is not allowed to sit in the exam due to low attendance.")
    except ValueError:
        print("Invalid input! Please enter a valid attendance percentage.")

Enter the attendance percentage: 88
The student is allowed to sit in the exam.

4. Grading system program in python

In [3]:
marks = float(input("Enter your marks: "))

if marks > 90:
    print("Grade: A+")
elif marks >= 80 and marks < 90:
    print("Grade: A")
elif marks >= 60 and marks < 70:
    print("Grade: B")
elif marks >= 50 and marks < 60:
    print("Grade: C")
elif marks >= 45 and marks < 50:
    print("Grade: D")
elif marks >= 25 and marks < 45:
    print("Grade: E")
else:
    print("Grade: F")

Enter your marks: 5
Grade: F

# Loop Problem

5. Print the following pattern using for loop.

In [4]:
n = 8
for i in range(n+1):
    for j in range(n-i):
        if j==0:
            continue
        if i > 3:
            break
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [3]:
number = -100
while number <=-10:
    print(number)
    number +=1

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [5]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def sum_primes_in_range(start, end):
    prime_sum = 0
    for num in range(start, end + 1):
        if is_prime(num):
            prime_sum += num
    return prime_sum

start_range = 10
end_range = 1000
result = sum_primes_in_range(start_range, end_range)
print(f"The sum of prime numbers between {start_range} and {end_range} is: {result}")

The sum of prime numbers between 10 and 1000 is: 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [4]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


n = 7
result = factorial(n)
print(f"The factorial of {n}! is: {result}")

The factorial of 7! is: 5040

9. Reverse a given integer number 27956240710.

In [6]:
def reverse_integer(number):
    # Convert the integer to a string and then reverse it using slicing
    reversed_str = str(number)[::-1]
    # Convert the reversed string back to an integer
    reversed_number = int(reversed_str)
    return reversed_number


number = 27956240710
reversed_number = reverse_integer(number)
print(f"The reversed number is: {reversed_number}")

The reversed number is: 1704265972

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [7]:
def fibonacci_with_while(n):
    fib_series = [0, 1]  # First two elements of the Fibonacci series
    i = 2
    while i < n:
        next_num = fib_series[-1] + fib_series[-2]
        fib_series.append(next_num)
        i += 1
    return fib_series

n = 15
fibonacci_series = fibonacci_with_while(n)
print(f"The Fibonacci series with {n} elements using while loop:")
print(fibonacci_series)

The Fibonacci series with 15 elements using while loop:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [8]:
def manipulate_list(input_list):
    # Remove 2 and add 3 to the inner list
    input_list[3][0] = 3

    # Replace True with False
    index_of_true = input_list.index(True)
    input_list[index_of_true] = False

    return input_list


Li = [1, 3, 5, [2, 3], True]
result = manipulate_list(Li)
print("Output =", result)

Output = [False, 3, 5, [3, 3], True]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [9]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_set = S1.intersection(S2)
print("Intersection set:", intersection_set)

Intersection set: {True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [13]:
def find_max_number(input_list):
    unique_set = set(input_list)
    max_number = max(unique_set)
    return max_number

if __name__ == "__main__":
    try:
        user_input = input("Enter a list of numbers separated by spaces: ")
        input_list = [int(num) for num in user_input.split()]
        max_number = find_max_number(input_list)
        print("The maximum number in the list is:", max_number)
    except ValueError:
        print("Invalid input! Please enter a list of numbers separated by spaces.")

Enter a list of numbers separated by spaces: User_input = [1,9,3,4,5,200,54]
Invalid input! Please enter a list of numbers separated by spaces.

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [14]:
def rename_key(dictionary, old_key, new_key):
    if old_key in dictionary:
        dictionary[new_key] = dictionary.pop(old_key)


Dict = { "name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany" }
print("Original dictionary:", Dict)

old_key = 'country'
new_key = 'region'
rename_key(Dict, old_key, new_key)

print("Updated dictionary:", Dict)

Original dictionary: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
Updated dictionary: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [15]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame({'number': num})

print(df)

   number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [16]:
def change_key_value(dictionary, key, new_value):
    if key in dictionary:
        dictionary[key] = new_value

Dict = { "name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany" }
print("Original dictionary:", Dict)

key_to_change = 'age'
new_value = 28
change_key_value(Dict, key_to_change, new_value)

print("Updated dictionary:", Dict)

Original dictionary: {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
Updated dictionary: {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}